<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  
    <add key="LogLocation" value="C:\Users\anastasiya.marynska\Desktop\Logs" />
    <add key="SizeToAlert" value="500" />
    <add key="CheckTime" value="200" />
    <add key="LogFormat" value=".txt;.tsv;.log" />
    <add key="Emails" value="marina1010@list.ru;marina1010@list.ru;marina1010@list.ru;" />
    <add key="Sender" value="testerlog@mail.ru;LogTester2017" />
    <add key ="Smtp Server" value="smtp.mail.ru" />
   <add key ="Mail Port" value="25" />
  
  </appSettings>
</configuration>